
main {
background-color: #A1CCA5;
display: flex;
flex-direction: column;
height: 100vh;
}
.events_container {
    padding: 2rem;
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}

.event {
    /* margin: 4rem; */
    background-color: #EEF5DB;
    border: 1px solid #183059;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    min-width: 10rem;
    display: flex;
        flex-direction: column;

    h2 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    span {
        font-size: 0.8rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;


        button {
            border: 1px solid #274e8f;
            border-radius: 10px;
            padding: 0.5rem;
            background-color: #A1CCA5;
        }
    }
}
.paginate_container {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;

    .page-btn {
        cursor: pointer;
        border: 1px solid #274e8f;
        border-radius: 10px;
        background-color: #A1CCA5;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.3rem;
        }
    
    .active-btn {
        border: 1px solid #183059;
        border-radius: 10px;
        background-color: #274e8f;
    }
}

